@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@500&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./vars";
@import "./vp-doc";
@import "./custom-block";

:root {
  --font-sans: "Source Sans 3";
  //--font-serif: "Noto Serif JP";
  --font-monospace: "JetBrains Mono";
}

html {
  @apply bg-gray-200 dark:bg-[#232020];

  &.dark {
    color-scheme: dark;
  }
}

@font-face {
  font-family: "MS PGothic";
  src: url("./ms-pgothic.woff2");
}
