<script setup lang="ts">
import { computed, ref, watch } from "vue";
import {
  computedEager,
  templateRef,
  useAnimate,
  useIntervalFn,
  useMagicKeys,
  useTimeoutFn,
  whenever,
} from "@vueuse/core";
import { type TitlePart, cutTitleParts } from "../util";

const props = defineProps<{
  title: TitlePart[];
}>();

const titleConcat = computed(() => {
  return props.title.map((x) => x.text).join("");
});

const titleLen = computedEager(() => titleConcat.value.length);

const RESTORE_TIMEOUT = 500;
const RESTORE_INTERVAL = 50;

const counter = ref(0);
const counterLimited = computedEager(() => {
  return Math.min(titleLen.value, counter.value);
});

const shortenedTitleParts = computed(() => {
  if (counterLimited.value === 0) return props.title;
  return cutTitleParts(props.title, titleLen.value - counterLimited.value);
});

const restoreInterval = useIntervalFn(
  () => {
    counter.value = Math.max(counter.value - 1, counterLimited.value - 1);
    if (counter.value === 0) restoreInterval.pause();
  },
  RESTORE_INTERVAL,
  { immediate: false }
);

const restoreTimeout = useTimeoutFn(
  () => {
    restoreInterval.resume();
  },
  RESTORE_TIMEOUT,
  { immediate: false }
);

watch(counterLimited, (value, oldValue) => {
  if (value > oldValue) {
    restoreInterval.pause();
    restoreTimeout.start();
  }
});

const { backspace } = useMagicKeys();

whenever(backspace, () => {
  // so that it will be set again when the key is pressed and not released
  backspace.value = false;

  counter.value++;
});

// CURSOR

const cursorAnimation = useAnimate(
  templateRef<null | HTMLSpanElement>("cursor"),
  [{ opacity: 1 }, { opacity: 0 }, { opacity: 1 }],
  {
    easing: "steps(2)",
    duration: 1000,
    iterations: Number.POSITIVE_INFINITY,
  }
);

watch(counterLimited, () => {
  cursorAnimation.cancel();
  cursorAnimation.play();
});
</script>

<template>
  <code :aria-label="title" class="font-mono text-2xl">
    <span
      v-for="item in shortenedTitleParts"
      :class="{ 'opacity-30': item.color === 'dimmed' }"
      >{{ item.text }}</span
    ><span ref="cursor" class="text-vp-brand">_</span>
  </code>
</template>
