<script setup>
// http://anime.en.utf8art.com/arc/nichijou_113.html
const PROFESSOR = `\
　　　　　　　　　　　　　　　　　　 -──-
　　　　　　　　　　　　　　　　 ´　　 　 　 　 　 ｀丶、
　　　　　　　　　　　　　／　　　　　∧　 　 　 　 　 ヽ
　　　　　　 　 　 　 　 /　 　 /　/ /　 .　|＼　　　　　'┐
　　　　　　　　　　　 　 　 　 |/｀|/　　 ∨⌒ﾄ　 　 　 | |
　　　　　　　　　　　　| |　　/x=ミ　　　ｘ=ミ八　　 　 | |
　　　　　　　　　　　　|八 ｲＹ r':ﾊ　　 　 r':ﾊY　│　 l |
　　　　　　　　　　　　　　Ⅳ　Vソ　　 　 Ｖソ|　/⌒l/│
　　　 　 　 　 　 　 　 　 　 ''　　　　　　　　'' |　| _ノ 　!
　　　　　　　　　　　　　　个　. 　 ､　 _ノ　　 |　'´　　│
　 　 　 　 　 　 　 　 　 　 ヽ|　 ＞r-　-r＜._|/|　　　 |
　　　　　　　 　 　 　 　 　 　 イ/ ｛＞＜ /　}｀ヽ、　　|
　　　　　　r(ヽ､　　　　　／　　 ＞∨〈∨＜　　∧ 　 |　　-っ、
　　　　 　 {ツ　ﾄ､　　 ／　 　 　 ＼{∠. _／　　　 ヽ　|　/ ,(ﾉﾉ)
.　　　　 　 lゝ､/　＼/　　　|　　　　　　 　 　 /　　　Ⅵ/|　　ﾉ
　　　　 　 ｛{ / 　 / ｀ヽ　Ⅵ　　　　　　　　∨　 　 ／|　|／｢|
　　　　　　 ＼　 /　　　∨│　　　　　　　　丶　　　　 、＼j |
　　　　　　　　＼　　　 　 /|　　　　　　　　　　＼|　　　＼_,,ﾉ
.　　　 　 　 　 　 ＼＿_／ .|　　　　　 　 　 　 　 |＼　　 ／`;
</script>

<template>
  <div class="p-8 space-y-8 flex flex-col items-center">
    <pre
      class="border-4"
      role="img"
      aria-label="Professor shrugs"
      >{{ PROFESSOR }}</pre
    >

    <h1 class="text-3xl">Page Not Found</h1>
  </div>
</template>

<style lang="scss" scoped>
pre {
  font-family: "MS PGothic";
  font-size: 13px;
  line-height: 1em;
}
</style>
