<script setup lang="ts">
import MagicTitle from "./MagicTitle.vue";
import type { TitlePart } from "../util";
import TheArticle from "./TheArticle.vue";
import LogosGitlab from "~icons/logos/gitlab";
import { useData, useRoute } from "vitepress";
import type { ThemeConfig } from "../types";
import { toRef } from "vue";
import PageNotFound from "./PageNotFound.vue";

const { theme, page } = useData<ThemeConfig>();

const isPageNotFound = toRef(() => page.value.isNotFound ?? false);

const gitlabRepo = toRef(() => theme.value.gitlabRepo);

const TITLE = [
  { text: "pub.", color: "dimmed" },
  { text: "quacumque.space", color: "black" },
] satisfies TitlePart[];

const LINKS = [
  { href: "/", match: (x) => x === "/", title: "Home" },
  // { src: "/posts", title: "Posts" },
  // { src: "/projects", title: "Projects" },
  // { src: "/resume", title: "Resume" },
  { href: "/about", match: (x) => x.startsWith("/about"), title: "About" },
] satisfies { href: string; title: string; match: (path: string) => boolean }[];

const route = useRoute();
</script>

<template>
  <div class="min-h-screen">
    <div class="w-full md:mx-auto md:max-w-[768px]">
      <nav class="py-4 px-8 flex items-center">
        <a href="/">
          <MagicTitle :title="TITLE" />
        </a>

        <div class="flex-1" />

        <div class="-mx-2">
          <a
            v-for="{ href, title, match } in LINKS"
            :key="href"
            :href="href"
            :class="[
              'px-2 py-1 rounded-xl hover:bg-gray-300',
              {
                'text-vp-brand hover:bg-vp-brand-lighter/50': match(route.path),
              },
            ]"
          >
            {{ title }}
          </a>
        </div>
      </nav>

      <div
        class="bg-vp border-t border-b border-vp-brand md:border md:rounded shadow"
      >
        <PageNotFound v-if="isPageNotFound" />
        <TheArticle v-else />
      </div>

      <footer class="py-4 px-8 text-xs flex">
        <div class="flex-1">
          Built with
          <a href="https://vitepress.dev" target="_blank" rel="noreferrer"
            >VitePress</a
          >. Sourced on
          <a :href="gitlabRepo" target="_blank" rel="noreferrer"
            >GitLab <LogosGitlab class="inline-block" /></a
          >.
        </div>

        <code class="text-[0.85em] opacity-50">theme-{{ theme.version }}</code>
      </footer>
    </div>
  </div>
</template>

<style lang="scss" scoped>
footer a {
  @apply text-vp-brand-dark hover:text-vp-brand-darker;
  text-decoration: underline;
}
</style>
